# Node.js
node_modules/
npm-debug.log

# Dependency directories
jspm_packages/
typings/

# User-specific files
.npmrc
.npm/
.yarn
.pnpm-lock.yaml
yarn-error.log

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw


# GO Ignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work